.bio-card-container {
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-card {
    background-color: rgb(200,200,200);
    border-radius: 5%;
    width: 28%;
    padding: 2.5%;
    font-size:1rem;
    margin-bottom: 3%;
    min-width: 16rem;
}

.bio-card img {
    border-radius: 50%;
    width: 80%;
    margin: 0 10%;
}

.bio-card-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.bio-card-title {
    margin-top: 0;
    font-size: 0.87em;
    text-align: center;
}

.bio-card-about {
    font-size: 0.9rem;
}