div.card {
    width: 100%;
    gap: 1%;
    margin-bottom: 2vw;
}

div.card.card-left {
    display: grid;
    grid-template-columns: 40.5% 1% 58.5%;
}

div.card.card-right {
    display: grid;
    grid-template-columns: 58.5% 1% 40.5%;
}

div.card.card-half {
    display: grid;
    grid-template-columns: 49.5% 1% 49.5%;
}

div.card div:not([class]) {
    margin:3%;
}

div.card div.card-border {
    padding:0;
    width:100%;
    height:100%;
    background-color: black;
}

div.card div.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.card-image img {
    width: 100%;
}

div.card > div {
    height: 100%;
}

@media screen and (max-width: 900px) and (min-width: 650px) {
    div.card.card-right {
        grid-template-columns: 64.7% 0.6% 34.7%;
    }
    div.card.card-left {
        grid-template-columns: 34.7% 0.6% 64.7%;
    }
}

@media screen and (max-width: 650px) {
    div.card {
        gap: 3%;
        margin: 40px 0;
    }
    div.card.card-right, div.card.card-left, div.card.card-half {
        /* grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
    }
     { */
        gap: 0;
        display: flex;
        flex-direction: column;
    }
    div.card.card-half {
        margin-bottom: 8em;
    }
    div.card div.card-image {
        width: 30%;
        padding:0%;
        margin: 0 35%
    }
    div.card div:not([class]) {
        margin-top: 0;
    }
    div.card div.card-border {
        display: none;
    }
}