a.enroll-button {
    display: block;
    font-family: "Play", 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgba(71, 71, 71, 0.2);
    width: 93%;
    padding: 3.5%;
    transition: background 200ms;
    border-radius: 4rem;
}

.enroll-button-container {
    font-size: 3rem;
    background: var(--sea-blue-gradient);
    max-width: 55vw;
    border-radius: 4rem;
    padding: 0;
}

.enroll-button-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 4vh 5%;
}

.enroll-button:hover {
    background-color: rgba(202, 202, 202, 0.2);
}

@media screen and (max-width: 2000px) and (min-width: 900px) {
    .enroll-button-container {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    .enroll-button-container {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 650px) {
    .enroll-button-container {
        max-width: 75vw;
    }
    div.card div:is(:last-of-type) .enroll-button-wrapper {
        margin-bottom: 15vh;
    }
    .enroll-button-wrapper {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 500px) {
    .enroll-button-container {
        font-size: 1.4rem;
    }
}