:root, html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    --white: rgb(230, 230, 230);
    --gray: rgb(215, 215, 215);
    --text-black: rgb(10, 10, 10);
    --sea-blue-gradient: linear-gradient(135deg, rgb(7, 0, 143) 0%, rgb(12, 12, 189) 35%, rgba(0,212,255,1) 100%);
    --lets-code-gradient: linear-gradient(135deg, #ffcc35 0%, #f99000 45%, #ff611f 98%);
    --stem-venture-gradient: linear-gradient(135deg, #8cff35 0%, #19e449 45%, #09830b 98%);
}

p, li {
    color: var(--text-black);
    font-size: 1em;
    font-family: "Play";
}

a, a:visited {
    color: rgb(37, 95, 223);
    text-decoration: underline;
}

a:hover {
    color: rgb(61, 140, 243);
}

main {
    margin: 4rem 27vw;
}

h2 {
    font-size: 4.5rem;
    font-family: "Play", 'Arial', sans-serif;
    font-weight: bold;
    color: var(--text-black);
    margin: 0.5em;
    text-align: center;
}

h3, h4 {
    text-align: center;
    font-weight: bold;
    font-family: "Play";
    font-size: 2.3rem;
    margin: 1em 0;
    color:var(--text-black);
}

h4 {
    margin:0.8em;
    font-size: 1.8rem;
}

h5 {
    font-weight: bold;
    font-family: "Play";
    font-size: 1.15rem;
    margin: 1em 0;
}

img.card-image {
    width: 80%;
    margin: 0 10% 1%;
    border-radius: 5%;
    box-shadow: 1em 1em 0.2em 0.2em gray;
}

@font-face {
    font-family: "Mate";
    src: url(../assets/fonts/Mate/Mate-Regular.ttf);
}

@font-face {
    font-family: "Play";
    src: url(../assets/fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: "Play";
    src: url(../assets/fonts/Play/Play-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Kode Mono";
    src: url(../assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Architects Daughter";
    src: url(../assets/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

@media screen and (max-width:2000px) and (min-width: 1550px) {
    #root, html, body {
        font-size: 16px;
    }
    main {
        margin: 0rem 20vw;
        padding: 4rem 2vw;
    }
}

@media screen and (max-width: 1550px) and (min-width:1000px) {
    #root, html, body {
        font-size: 15px;
    }
    main {
        margin: 0rem 10vw;
        padding: 3rem 1.4vw;
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    #root, html, body {
        font-size: 14.5px;
    }
    h2 {
        font-size: 3.4rem;
    }
    main {
        margin: 0rem 6vw;
        padding: 2.5rem 0.4vw;
    }
}

@media screen and (max-width: 800px) {
    #root, html, body {
        font-size: 14px;
    }
    h2 {
        font-size: 3.3rem;
    }
    main {
        margin: 0rem 2vw;
        padding: 2.5rem 0.2vw;
    }
}
@media screen and (max-width: 500px) {
    h3 {
        font-size: 2rem;
        margin: 0.8em 0;
    }
    h4 {
        font-size: 1.5rem;
        margin: 0.5em;
    }
}