#root, html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    --white: rgb(230, 230, 230);
    --text-black: rgb(10, 10, 10);
    --lets-code-gradient: linear-gradient(135deg, #ffcc35 0%, #f99000 45%, #ff611f 98%);
    --stem-venture-gradient: linear-gradient(135deg, #8cff35 0%, #19e449 45%, #09830b 98%);
}

p, li {
    color: var(--text-black);
    font-size: 1em;
    font-family: "Play";
}

main {
    margin: 4rem 27vw;
}

h2 {
    font-size: 4.5rem;
    font-family: "Play", 'Arial', sans-serif;
    font-weight: bold;
    color: var(--text-black);
    margin: 0.5em;
    text-align: center;
}

h3, h4 {
    text-align: center;
    font-weight: bold;
    font-family: "Play";
    font-size: 2.2rem;
    color:var(--text-black);
}

h4 {
    margin:0.8em;
    font-size: 1.8rem;
}

@font-face {
    font-family: "Mate";
    src: url(../assets/fonts/Mate/Mate-Regular.ttf);
}

@font-face {
    font-family: "Play";
    src: url(../assets/fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: "Play";
    src: url(../assets/fonts/Play/Play-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Kode Mono";
    src: url(../assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Architects Daughter";
    src: url(../assets/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

@media screen and (max-width:2000px) {
    #root, html, body {
        font-size: 16px;
    }
    main {
        margin: 4rem 22vw;
    }
}