#root, html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    --white: rgb(230, 230, 230);
    --text-black: rgb(10, 10, 10);
}

p {
    color: var(--text-black);
    font-size: 1em;
    font-family: "Play";
}

@font-face {
    font-family: "Mate";
    src: url(../assets/fonts/Mate/Mate-Regular.ttf);
}

@font-face {
    font-family: "Play";
    src: url(../assets/fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: "Play";
    src: url(../assets/fonts/Play/Play-Bold.ttf);
    font-weight: bold;
}